{{>layouts/header}}

<!-- alert msg -->
{{#msg}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/msg}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <th><a href="articles/{{id}}">{{title}}</a></th>
            <th>{{content}}</th>
        </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/articles/new">새로 추가하기</a>

{{>layouts/footer}}